@charset "utf-8";
/* CSS Document */

html {	font-weight: bold;
    	margin-left: 10%;
	margin-right: 50%;}

body {background-color: #EDDFB6;
	font-family:'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif';
	font-size: 14pt;
	font-weight: normal;
	padding: 0%;
	margin: 0%;
	height: 100%;
	width: 100%;}
.a {border: solid thin black;
    background-color: white;
    border-radius: 5px;}

#header {font-size: 25px;
	font-weight: bold;
	margin-left: 50%;
	margin-right: 50%;}

#snoopy4 {display: flex;
justify-content: center;
height:50%;
width: 50%;}

#snoopy2 {height:10%;
width:10%}

#snoopydoc {height: 20%;
width: 20%;
float: left;
position: relative;}

#snoopy {height: 10%;
	width: 10%;}



